[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[scripts]
serve = "python app/main.py"

[dev-packages]
black = "*"

[packages]
tornado = "*"
schema = "*"
uvloop = "*"
pytz = "*"
PyYAML = "*"
aiohttp = "*"
aioredis = "*"
sslyze = "*"
dnspython = "*"
tldextract = "*"
wafw00f = "*"
requests-cache = "*"
requests = "*"
lxml = "*"
beautifulsoup4 = "*"
ipwhois = "*"
python-whois = "*"

[requires]
python_version = "3.8.1"

[pipenv]
allow_prereleases = true
