[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[scripts]
serve = "python app/main.py"
start = "./app.sh start"
stop = "./app.sh stop"
restart = "./app.sh restart"
log = "./app.sh log"

[dev-packages]
black = "*"

[packages]
tornado = "*"
schema = "*"
uvloop = "*"
aiotask-context = "*"
pytz = "*"
PyYAML = "*"
orjson = "*"
aiohttp = "*"
# aioredis = "*"
# asyncpg = "*"
sslyze = "*"
dnspython = "*"
tldextract = "*"
wafw00f = "*"
requests-cache = "*"
requests = "*"
lxml = "*"
beautifulsoup4 = "*"
ipwhois = "*"
python-whois = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
